@{
    ViewData["Title"] = "Anasayfa";
}

<div class="row">
    <div class="col-sm-9 right-content">
        <div class="row">
            <div class="col-sm-9">
                <div class="main-wrap">
                    <article class="main-post">
                        <div class="article-top">
                            <h1><a href="post.html">Joker saying how it is.</a></h1>
                            <hr />
                            <div class="counters-line">
                                <div class="pull-left">
                                    <div class="date"><i class="icon-date"></i> 23.04</div>
                                    <div class="user"><i class="icon-user"></i> <a href="profile.html">johnjsu</a></div>
                                    <div class="comments"><i class="icon-comments"></i> <a href="post.html">320</a></div>
                                </div>
                                <div class="pull-right">
                                    <div class="like"><a href="#"><i class="icon-like"></i> 56</a></div>
                                    <div class="dislike"><a href="#"><i class="icon-dislike"></i> 32</a></div>
                                </div>
                            </div>
                            <div class="buttons-bar">
                                <div class="buttons">
                                    <a href="#" class='repost has-tooltip' data-title="REPOST">Repost</a>
                                    <a href="#" class='bookmarked has-tooltip' data-title="BOOKMARKED">bookmarked</a>
                                    <div class="count">2430</div>
                                </div>
                                <div class="social-icons">
                                    <a href="javascript:void(0)" data-href="https://www.facebook.com/sharer/sharer.php?u=http://teothemes.com/html/Aruna" class='facebook has-tooltip' data-title="Share on Facebook">facebook</a>
                                    <a href="javascript:void(0)" data-href="https://twitter.com/intent/tweet?source=tweetbutton&amp;text=Check the best image/meme sharing website!&url=http://teothemes.com/html/Aruna" class='twitter has-tooltip' data-title="Share on Twitter">twitter</a>
                                    <a href="javascript:void(0)" data-href="https://plus.google.com/share?url=http://teothemes.com/html/Aruna" class='googleplus has-tooltip' data-title="Share on Google +">googleplus</a>
                                    <a href="mailto:?subject=Check out the best image/meme sharing template!&amp;body=Hey there! Check out the best image/meme sharing template! http://teothemes.com/html/Aruna" class='mail has-tooltip' data-title="Share via Email">mail</a>
                                </div>
                            </div>
                        </div>
                        <div class="article-content">
                            <figure>
                                <div class="corner-tag green"><a href="category.html">Gingerfun</a></div>
                                <img class="lazy" data-original="img/blog-post01.jpg" alt="" />
                            </figure>
                        </div>
                    </article>
                    <article class="main-post">
                        <div class="article-top">
                            <h1><a href="post.html">What to do when you see a perfectly made bed.!</a></h1>
                            <hr />
                            <div class="counters-line">
                                <div class="pull-left">
                                    <div class="date"><i class="icon-date"></i> 23.04</div>
                                    <div class="user"><i class="icon-user"></i> <a href="profile.html">helloworld</a></div>
                                    <div class="comments"><i class="icon-comments"></i> <a href="post.html">63</a></div>
                                </div>
                                <div class="pull-right">
                                    <div class="like"><a href="#"><i class="icon-like"></i> 21</a></div>
                                    <div class="dislike"><a href="#"><i class="icon-dislike"></i> 4012</a></div>
                                </div>
                            </div>
                            <div class="buttons-bar">
                                <div class="buttons">
                                    <a href="#" class='repost has-tooltip' data-title="REPOST">Repost</a>
                                    <a href="#" class='bookmark has-tooltip' data-title="BOOKMARK">bookmark</a>
                                    <div class="count">2430</div>
                                </div>
                                <div class="social-icons">
                                    <a href="javascript:void(0)" data-href="https://www.facebook.com/sharer/sharer.php?u=http://teothemes.com/html/Aruna" class='facebook has-tooltip' data-title="Share on Facebook">facebook</a>
                                    <a href="javascript:void(0)" data-href="https://twitter.com/intent/tweet?source=tweetbutton&amp;text=Check the best image/meme sharing website!&url=http://teothemes.com/html/Aruna" class='twitter has-tooltip' data-title="Share on Twitter">twitter</a>
                                    <a href="javascript:void(0)" data-href="https://plus.google.com/share?url=http://teothemes.com/html/Aruna" class='googleplus has-tooltip' data-title="Share on Google +">googleplus</a>
                                    <a href="mailto:?subject=Check out the best image/meme sharing template!&amp;body=Hey there! Check out the best image/meme sharing template! http://teothemes.com/html/Aruna" class='mail has-tooltip' data-title="Share via Email">mail</a>
                                </div>
                            </div>
                        </div>
                        <div class="article-content">
                            <figure>
                                <div class="corner-tag blue"><a href="category.html">Cute Kittens</a></div>
                                <img class="lazy" data-original="img/aEwP539_460sa-1.gif" alt="" />
                            </figure>
                        </div>
                    </article>
                    <article class="main-post">
                        <div class="article-top">
                            <h1><a href="post.html">A five-year old that will make you feel stupid.</a></h1>
                            <hr />
                            <div class="counters-line">
                                <div class="pull-left">
                                    <div class="date"><i class="icon-date"></i> 23.04</div>
                                    <div class="user"><i class="icon-user"></i> <a href="profile.html">helloworld</a></div>
                                    <div class="comments"><i class="icon-comments"></i> <a href="post.html">63</a></div>
                                </div>
                                <div class="pull-right">
                                    <div class="like"><a href="#"><i class="icon-like"></i> 21</a></div>
                                    <div class="dislike"><a href="#"><i class="icon-dislike"></i> 4012</a></div>
                                </div>
                            </div>
                            <div class="buttons-bar">
                                <div class="buttons">
                                    <a href="#" class='repost has-tooltip' data-title="REPOST">Repost</a>
                                    <a href="#" class='bookmark has-tooltip' data-title="BOOKMARK">bookmark</a>
                                    <div class="count">2430</div>
                                </div>
                                <div class="social-icons">
                                    <a href="javascript:void(0)" data-href="https://www.facebook.com/sharer/sharer.php?u=http://teothemes.com/html/Aruna" class='facebook has-tooltip' data-title="Share on Facebook">facebook</a>
                                    <a href="javascript:void(0)" data-href="https://twitter.com/intent/tweet?source=tweetbutton&amp;text=Check the best image/meme sharing website!&url=http://teothemes.com/html/Aruna" class='twitter has-tooltip' data-title="Share on Twitter">twitter</a>
                                    <a href="javascript:void(0)" data-href="https://plus.google.com/share?url=http://teothemes.com/html/Aruna" class='googleplus has-tooltip' data-title="Share on Google +">googleplus</a>
                                    <a href="mailto:?subject=Check out the best image/meme sharing template!&amp;body=Hey there! Check out the best image/meme sharing template! http://teothemes.com/html/Aruna" class='mail has-tooltip' data-title="Share via Email">mail</a>
                                </div>
                            </div>
                        </div>
                        <div class="article-content">
                            <figure>
                                <div class="corner-tag yellow"><a href="category.html">Lolcats</a></div>
                                <div class="video-wrap">
                                    <iframe width="560" height="315" src="http://www.youtube.com/embed/XFxjy7f9RpY" frameborder="0" allowfullscreen></iframe>
                                </div>
                            </figure>
                        </div>
                    </article>
                    <article class="main-post">
                        <div class="article-top">
                            <h1><a href="post.html">That’s what they say, indeed!</a></h1>
                            <hr />
                            <div class="counters-line">
                                <div class="pull-left">
                                    <div class="date"><i class="icon-date"></i> 22.04</div>
                                    <div class="user"><i class="icon-user"></i> <a href="profile.html">helloworld</a></div>
                                    <div class="comments"><i class="icon-comments"></i> <a href="post.html">1098</a></div>
                                </div>
                                <div class="pull-right">
                                    <div class="like"><a href="#"><i class="icon-like"></i> 43</a></div>
                                    <div class="dislike"><a href="#"><i class="icon-dislike"></i> 7435</a></div>
                                </div>
                            </div>
                            <div class="buttons-bar">
                                <div class="buttons">
                                    <a href="#" class='repost has-tooltip' data-title="REPOST">Repost</a>
                                    <a href="#" class='bookmark has-tooltip' data-title="BOOKMARK">bookmark</a>
                                    <div class="count">2430</div>
                                </div>
                                <div class="social-icons">
                                    <a href="javascript:void(0)" data-href="https://www.facebook.com/sharer/sharer.php?u=http://teothemes.com/html/Aruna" class='facebook has-tooltip' data-title="Share on Facebook">facebook</a>
                                    <a href="javascript:void(0)" data-href="https://twitter.com/intent/tweet?source=tweetbutton&amp;text=Check the best image/meme sharing website!&url=http://teothemes.com/html/Aruna" class='twitter has-tooltip' data-title="Share on Twitter">twitter</a>
                                    <a href="javascript:void(0)" data-href="https://plus.google.com/share?url=http://teothemes.com/html/Aruna" class='googleplus has-tooltip' data-title="Share on Google +">googleplus</a>
                                    <a href="mailto:?subject=Check out the best image/meme sharing template!&amp;body=Hey there! Check out the best image/meme sharing template! http://teothemes.com/html/Aruna" class='mail has-tooltip' data-title="Share via Email">mail</a>
                                </div>
                            </div>
                        </div>
                        <div class="article-content">
                            <div class="quote-wrap">
                                <h2>Quotes</h2>
                                <div class="quote">
                                    <p>&ldquo; They say hard takes one day, they also say impossible takes one week. &rdquo;</p>
                                </div>
                            </div>
                        </div>
                    </article>
                    <article class="main-post">
                        <div class="article-top">
                            <h1><a href="post.html">That’s what they say, indeed!</a></h1>
                            <hr />
                            <div class="counters-line">
                                <div class="pull-left">
                                    <div class="date"><i class="icon-date"></i> 22.04</div>
                                    <div class="user"><i class="icon-user"></i> <a href="profile.html">helloworld</a></div>
                                    <div class="comments"><i class="icon-comments"></i> <a href="post.html">1098</a></div>
                                </div>
                                <div class="pull-right">
                                    <div class="like"><a href="#"><i class="icon-like"></i> 43</a></div>
                                    <div class="dislike"><a href="#"><i class="icon-dislike"></i> 7435</a></div>
                                </div>
                            </div>
                            <div class="buttons-bar">
                                <div class="buttons">
                                    <a href="#" class='repost has-tooltip' data-title="REPOST">Repost</a>
                                    <a href="#" class='bookmark has-tooltip' data-title="BOOKMARK">bookmark</a>
                                    <div class="count">2430</div>
                                </div>
                                <div class="social-icons">
                                    <a href="javascript:void(0)" data-href="https://www.facebook.com/sharer/sharer.php?u=http://teothemes.com/html/Aruna" class='facebook has-tooltip' data-title="Share on Facebook">facebook</a>
                                    <a href="javascript:void(0)" data-href="https://twitter.com/intent/tweet?source=tweetbutton&amp;text=Check the best image/meme sharing website!&url=http://teothemes.com/html/Aruna" class='twitter has-tooltip' data-title="Share on Twitter">twitter</a>
                                    <a href="javascript:void(0)" data-href="https://plus.google.com/share?url=http://teothemes.com/html/Aruna" class='googleplus has-tooltip' data-title="Share on Google +">googleplus</a>
                                    <a href="mailto:?subject=Check out the best image/meme sharing template!&amp;body=Hey there! Check out the best image/meme sharing template! http://teothemes.com/html/Aruna" class='mail has-tooltip' data-title="Share via Email">mail</a>
                                </div>
                            </div>
                        </div>
                        <div class="article-content">
                            <div class="quote-wrap">
                                <h2>Quotes</h2>
                                <div class="quote">
                                    <p>&ldquo; They say hard takes one day, they also say impossible takes one week. &rdquo;</p>
                                </div>
                            </div>
                            <figure>
                                <img class="lazy" data-original="img/blog-post02.jpg" alt="" />
                            </figure>
                        </div>
                    </article>
                    <article class="main-post">
                        <div class="article-top">
                            <h1><a href="post.html">Slidery Slided Slide, captain!</a></h1>
                            <hr />
                            <div class="counters-line">
                                <div class="pull-left">
                                    <div class="date"><i class="icon-date"></i> 22.04</div>
                                    <div class="user"><i class="icon-user"></i> <a href="profile.html">helloworld</a></div>
                                    <div class="comments"><i class="icon-comments"></i> <a href="post.html">1098</a></div>
                                </div>
                                <div class="pull-right">
                                    <div class="like"><a href="#"><i class="icon-like"></i> 43</a></div>
                                    <div class="dislike"><a href="#"><i class="icon-dislike"></i> 7435</a></div>
                                </div>
                            </div>
                            <div class="buttons-bar">
                                <div class="buttons">
                                    <a href="#" class='repost has-tooltip' data-title="REPOST">Repost</a>
                                    <a href="#" class='bookmark has-tooltip' data-title="BOOKMARK">bookmark</a>
                                    <div class="count">2430</div>
                                </div>
                                <div class="social-icons">
                                    <a href="javascript:void(0)" data-href="https://www.facebook.com/sharer/sharer.php?u=http://teothemes.com/html/Aruna" class='facebook has-tooltip' data-title="Share on Facebook">facebook</a>
                                    <a href="javascript:void(0)" data-href="https://twitter.com/intent/tweet?source=tweetbutton&amp;text=Check the best image/meme sharing website!&url=http://teothemes.com/html/Aruna" class='twitter has-tooltip' data-title="Share on Twitter">twitter</a>
                                    <a href="javascript:void(0)" data-href="https://plus.google.com/share?url=http://teothemes.com/html/Aruna" class='googleplus has-tooltip' data-title="Share on Google +">googleplus</a>
                                    <a href="mailto:?subject=Check out the best image/meme sharing template!&amp;body=Hey there! Check out the best image/meme sharing template! http://teothemes.com/html/Aruna" class='mail has-tooltip' data-title="Share via Email">mail</a>
                                </div>
                            </div>
                        </div>
                        <div class="article-content">
                            <div class="slider-controls-wrap">
                                <h2>Quotes</h2>
                                <h1 rel="1" class="visible-title">Part 1: The Chronicles</h1>
                                <h1 rel="2">Part 2: The Chronicles</h1>
                                <h1 rel="3">Part 3: The Chronicles</h1>
                                <h1 rel="4">Part 4: The Chronicles</h1>
                                <div class="controls">
                                    <a href="#" class="prev">Prev</a>
                                    <div class="counters"> <span class="current">4</span> of <span class="total">5</span> </div>
                                    <a href="#" class="next">Next</a>
                                </div>
                            </div>
                            <figure>
                                <div class="post-slider flexslider">
                                    <ul class="slides">
                                        <li><img class="lazy" data-original="img/greg.png" alt="" /></li>
                                        <li><img src="~/assets/img/best_theme.png" alt="" /></li>
                                        <li><img src="~/assets/img/greg.png" alt="" /></li>
                                    </ul>
                                </div>
                            </figure>
                        </div>
                    </article>
                </div>
            </div>
            <aside class="col-sm-3">
                <div class="widget">
                    <h2>Search</h2>
                    <hr />
                    <div class="widget-content">
                        <div class="input-group search-widget">
                            <input type="text" class="form-control" placeholder="Search something" />
                            <span class="input-group-btn">
                                <button class="btn btn-primary custom-button" type="button">Search</button>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="widget">
                    <h2>User functionality</h2>
                    <hr />
                    <div class="widget-content">
                        <a data-toggle="modal" href="#registerModal" class="btn btn-primary btn-lg btn-block custom-button">Register/Login</a><br />
                        <a data-toggle="modal" href="#postModal" class="btn btn-primary btn-lg btn-block custom-button">Post Article</a>
                    </div>
                </div>
                <div class="widget">
                    <h2>Funnies Joker</h2>
                    <hr />
                    <div class="widget-content">
                        <div class="joker">
                            <figure>
                                <img src="~/assets/img/avatar01.jpg" alt="" />
                            </figure>
                            <div class="text">
                                <div class="name"><a href="profile.html">Liam McLean</a></div>
                                <div class="likes">234910 kudos</div>
                            </div>
                            <a href="profile.html" class="btn btn-primary btn-block custom-button">See Liam's Profile</a>
                        </div>
                    </div>
                </div>
                <div class="widget">
                    <h2><a href="#">Top5 Funniest</a></h2>
                    <hr />
                    <div class="widget-content">
                        <div class="post-list">
                            <article>
                                <figure>
                                    <img src="~/assets/img/top1.jpg" alt="" />
                                    <figcaption>01</figcaption>
                                </figure>
                                <div class="text">
                                    <h3><a href="post.html">Helping the elderly is not fun...</a></h3>
                                    <span class="date">25.04</span>
                                </div>
                            </article>
                            <article>
                                <figure>
                                    <img src="~/assets/img/top2.jpg" alt="" />
                                    <figcaption>02</figcaption>
                                </figure>
                                <div class="text">
                                    <h3>
                                        <a href="post.html">
                                            People Cherising New Year's Eve
                                        </a>
                                    </h3>
                                    <span class="date">25.04</span>
                                </div>
                            </article>
                            <article>
                                <figure>
                                    <img src="~/assets/img/top3.jpg" alt="" />
                                    <figcaption>03</figcaption>
                                </figure>
                                <div class="text">
                                    <h3><a href="post.html">Inappropriate jokes are alway...</a></h3>
                                    <span class="date">23.04</span>
                                </div>
                            </article>
                            <article>
                                <figure>
                                    <img src="~/assets/img/top4.jpg" alt="" />
                                    <figcaption>04</figcaption>
                                </figure>
                                <div class="text">
                                    <h3><a href="post.html">The Law</a></h3>
                                    <span class="date">22.04</span>
                                </div>
                            </article>
                            <article>
                                <figure>
                                    <img src="~/assets/img/top5.jpg" alt="" />
                                    <figcaption>05</figcaption>
                                </figure>
                                <div class="text">
                                    <h3><a href="post.html">How Photoshop works</a></h3>
                                    <span class="date">22.04</span>
                                </div>
                            </article>
                        </div>
                    </div>
                </div>
                <div class="widget">
                    <h2>Find us on Facebook</h2>
                    <hr />
                    <div class="widget-content">
                        <div class="fb-like-box" data-href="https://www.facebook.com/TeoThemes" data-width="165" data-height="300" data-colorscheme="light" data-show-faces="true" data-header="false" data-stream="false" data-show-border="false"></div>
                    </div>
                </div>
            </aside>
        </div>
    </div>
    <aside class="col-sm-3 left-aside">
        <div class="sidebar-menu">
            <div class="top-menu">
                <div class="inception-menu">
                    <a href="#" class="selector">Menu</a>
                    <div class="sub-navigation">
                        <div class="half">
                            <a href="#" rel="sidebar-content-hot"><i class='icon-hot'></i> Hot Posts</a>
                        </div>
                        <div class="half">
                            <a href="#" rel="sidebar-content-bookmarks"><i class='icon-bookmarks'></i> Bookmarks</a>
                        </div>
                    </div>
                </div>
                <div class="section-title">Categories</div>
            </div>
            <div class="sidebar-content sidebar-content-category">
                <div class="menu-group">
                    <h2><a href="category.html">Interwebs</a></h2>
                    <hr />
                    <ul>
                        <li><a href="category.html">Lolcats</a></li>
                        <li><a href="category.html">Lolweb</a></li>
                        <li><a href="category.html">Chinese Dad</a></li>
                        <li><a href="category.html">Idontalways</a></li>
                    </ul>
                </div>
                <div class="menu-group">
                    <h2><a href="category.html">Politics</a></h2>
                    <hr />
                    <ul>
                        <li><a href="category.html">Funny Politicians</a></li>
                        <li><a href="category.html">#ObamaStuff</a></li>
                    </ul>
                </div>
                <div class="menu-group">
                    <h2><a href="category.html">Gingerfun</a></h2>
                    <hr />
                    <ul>
                        <li><a href="category.html">Ginger People</a></li>
                    </ul>
                </div>
                <div class="menu-group">
                    <h2><a href="category.html">Cute</a></h2>
                    <hr />
                    <ul>
                        <li><a href="category.html">Cute Kittens</a></li>
                        <li><a href="category.html">Pandas</a></li>
                        <li><a href="category.html">Babies Garden</a></li>
                    </ul>
                </div>
            </div>
            <div class="sidebar-content sidebar-content-hot">
                <div class="side-article">
                    <figure>
                        <a href="post.html">
                            <img src="~/assets/img/left1.jpg" alt="" />
                        </a>
                    </figure>
                    <h2>
                        <a href="post.html">
                            People Cherising New Year's Eve
                        </a>
                    </h2>
                    <div class="counters-line">
                        <div class="pull-left">
                            <div class="date"><i class="icon-date"></i> 23.04</div>
                            <div class="user"><i class="icon-user"></i> <a href="profile.html">johnjsu</a></div>
                            <div class="comments"><i class="icon-comments"></i> <a href="post.html">320</a></div>
                        </div>
                    </div>
                </div>
                <div class="side-article">
                    <figure>
                        <a href="post.html">
                            <img src="~/assets/img/left2.jpg" alt="" />
                        </a>
                    </figure>
                    <h2><a href="post.html">How to get killed and revive in 3 days!</a></h2>
                    <div class="counters-line">
                        <div class="pull-left">
                            <div class="date"><i class="icon-date"></i> 23.04</div>
                            <div class="user"><i class="icon-user"></i> <a href="profile.html">johnjsu</a></div>
                            <div class="comments"><i class="icon-comments"></i> <a href="post.html">320</a></div>
                        </div>
                    </div>
                </div>
                <div class="side-article">
                    <figure>
                        <a href="post-2.html">
                            <img src="~/assets/img/left3.jpg" alt="" />
                        </a>
                    </figure>
                    <h2><a href="post.html">How Photoshop Really Works</a></h2>
                    <div class="counters-line">
                        <div class="pull-left">
                            <div class="date"><i class="icon-date"></i> 23.04</div>
                            <div class="user"><i class="icon-user"></i> <a href="profile.html">johnjsu</a></div>
                            <div class="comments"><i class="icon-comments"></i> <a href="post.html">320</a></div>
                        </div>
                    </div>
                </div>
                <div class="side-article">
                    <figure>
                        <a href="post.html">
                            <img src="~/assets/img/left4.jpg" alt="" />
                        </a>
                    </figure>
                    <h2>
                        <a href="post.html">
                            People Cherising New Year's Eve
                        </a>
                    </h2>
                    <div class="counters-line">
                        <div class="pull-left">
                            <div class="date"><i class="icon-date"></i> 23.04</div>
                            <div class="user"><i class="icon-user"></i> <a href="profile.html">johnjsu</a></div>
                            <div class="comments"><i class="icon-comments"></i> <a href="post.html">320</a></div>
                        </div>
                    </div>
                </div>
                <div class="side-article">
                    <figure>
                        <a href="post.html">
                            <img src="~/assets/img/left5.jpg" alt="" />
                        </a>
                    </figure>
                    <h2><a href="post.html">How to get killed and revive in 3 days!</a></h2>
                    <div class="counters-line">
                        <div class="pull-left">
                            <div class="date"><i class="icon-date"></i> 23.04</div>
                            <div class="user"><i class="icon-user"></i> <a href="profile.html">johnjsu</a></div>
                            <div class="comments"><i class="icon-comments"></i> <a href="post.html">320</a></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="sidebar-content sidebar-content-bookmarks">
                <div class="side-article">
                    <figure>
                        <a href="post.html">
                            <img src="~/assets/img/left1.jpg" alt="" />
                        </a>
                    </figure>
                    <h2>
                        <a href="post.html">
                            People Cherising New Year's Eve
                        </a>
                    </h2>
                    <div class="counters-line">
                        <div class="pull-left">
                            <div class="date"><i class="icon-date"></i> 23.04</div>
                            <div class="user"><i class="icon-user"></i> <a href="profile.html">johnjsu</a></div>
                            <div class="comments"><i class="icon-comments"></i> <a href="post.html">320</a></div>
                        </div>
                    </div>
                </div>
                <div class="side-article">
                    <figure>
                        <a href="post.html">
                            <img src="~/assets/img/left2.jpg" alt="" />
                        </a>
                    </figure>
                    <h2><a href="post.html">How to get killed and revive in 3 days!</a></h2>
                    <div class="counters-line">
                        <div class="pull-left">
                            <div class="date"><i class="icon-date"></i> 23.04</div>
                            <div class="user"><i class="icon-user"></i> <a href="profile.html">johnjsu</a></div>
                            <div class="comments"><i class="icon-comments"></i> <a href="post.html">320</a></div>
                        </div>
                    </div>
                </div>
                <div class="side-article">
                    <figure>
                        <a href="post-2.html">
                            <img src="~/assets/img/left3.jpg" alt="" />
                        </a>
                    </figure>
                    <h2><a href="post.html">How Photoshop Really Works</a></h2>
                    <div class="counters-line">
                        <div class="pull-left">
                            <div class="date"><i class="icon-date"></i> 23.04</div>
                            <div class="user"><i class="icon-user"></i> <a href="profile.html">johnjsu</a></div>
                            <div class="comments"><i class="icon-comments"></i> <a href="post.html">320</a></div>
                        </div>
                    </div>
                </div>
                <div class="side-article">
                    <figure>
                        <a href="post.html">
                            <img src="~/assets/img/left4.jpg" alt="" />
                        </a>
                    </figure>
                    <h2>
                        <a href="post.html">
                            People Cherising New Year's Eve
                        </a>
                    </h2>
                    <div class="counters-line">
                        <div class="pull-left">
                            <div class="date"><i class="icon-date"></i> 23.04</div>
                            <div class="user"><i class="icon-user"></i> <a href="profile.html">johnjsu</a></div>
                            <div class="comments"><i class="icon-comments"></i> <a href="post.html">320</a></div>
                        </div>
                    </div>
                </div>
                <div class="side-article">
                    <figure>
                        <a href="post.html">
                            <img src="~/assets/img/left5.jpg" alt="" />
                        </a>
                    </figure>
                    <h2><a href="post.html">How to get killed and revive in 3 days!</a></h2>
                    <div class="counters-line">
                        <div class="pull-left">
                            <div class="date"><i class="icon-date"></i> 23.04</div>
                            <div class="user"><i class="icon-user"></i> <a href="profile.html">johnjsu</a></div>
                            <div class="comments"><i class="icon-comments"></i> <a href="post.html">320</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </aside>
</div>